
    h1,h2 {
    text-align: center;
    font-family:'Belgika', sans;
    font-size:30pt;
    color: red;
    clear: both;
}

p {
    margin-bottom: 7pt;
    font-size:14pt;
    line-height: 19pt;
    font-family:'Work Sans', sans;
    color:grey;
    }
p + p {
    text-indent: 7pt;
    }


 .introduction{
     font-family: 'Inconsolata' ;
     font-size: 12pt;
     line-height: 15pt;
     }

.hfk {
    font-family: 'Ostrich';
    font-size: 50pt;
    color: green;
    line-height: 40pt;
}

hr {
    width: 33%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 33.5%;
    margin-right: 33.5%;
    clear: both;
}

hr.chap {width: 65%; margin-left: 17.5%; margin-right: 17.5%;}
hr.tb {width: 45%; margin-left: 27.5%; margin-right: 27.5%;}

.center   {text-align: center;}

.right   {text-align: right;}

.caption  {font-weight: bold;}

/* Images */
.figcenter   {
    margin: auto;
    text-align: center;
}

div.titlepage {
  text-align: center;
  page-break-before: always;
  page-break-after: always;
}

div.titlepage p {
  text-align: center;
  text-indent: 0em;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 3em;
}
