/* the geometry of the page */
@page-width: 180mm;
@page-height: 250mm;

/* the size of the crop marks*/
@crop-size: 7mm;

/* the size of bleed */
@bleed: 5mm;

// FIXME: make a case for single page layouts
@page-margin-inside: 12mm;
@page-margin-outside: 12mm;
@page-margin-top: 12mm;
@page-margin-bottom: 12mm;

// Header & footer variables
@header-height: 10mm;
@header-text: "galaxy- part 1";
@footer-height: 10mm;
@footer-text: counter(page-counter);
