@font-face {
    font-family: "Ostrich";
    src: url("../assets/fonts/ostrich-bold.ttf");
}

@font-face {
    font-family: "Belgika";
    src: url("../assets/fonts/Belgika-8th.otf");
    font-weight: normal;
    font-style: normal;
}
