/* the geometry of the page */
@page-width: 210mm;
@page-height: 297mm;

/* the size of the crop marks*/
@crop-size: 5mm;

/* the size of bleed */
@bleed: 7mm;

@page-margin-inside: (@page-width/18)*2;
@page-margin-outside:(@page-width/18)*2;
@page-margin-top:@page-height/18;
@page-margin-bottom: (@page-height/18)*2;

// Header & footer variables
@header-height: 20mm;
@header-text: "ATG?";
@footer-height: 5mm;
@footer-text: counter(page-counter);
