<h1>Star, Bright</h1>

<p>By MARK CLIFTON</p>

<p>[Transcriber's Note: This etext was produced from<br />
Galaxy Science Fiction July 1952.<br />
Extensive research did not uncover any evidence that<br />
the U.S. copyright on this publication was renewed.]</p>

</div>

<hr class="chap" />

<p class="ph3"><i>There is no past or future, the children said</i>;<br />
<i>it all just</i> is! <i>They had every reason to know!</i></p>

<hr class="chap" />

<p class="ph4"><i>Friday&mdash;June 11th</i></p>

<p>At three years of age, a little girl shouldn't have enough functioning
intelligence to cut out and paste together a Moebius Strip.</p>

<p>Or, if she did it by accident, she surely shouldn't have enough
reasoning ability to pick up one of her crayons and carefully trace the
continuous line to prove it has only one surface.</p>

<p>And if by some strange coincidence she did, and it was still just an
accident, how can I account for this generally active daughter of
mine&mdash;and I do mean <i>active</i>&mdash;sitting for a solid half hour with her
chin cupped in her hand, staring off into space, thinking with such
concentration that it was almost painful to watch?</p>

<p>I was in my reading chair, going over some work. Star was sitting on
the floor, in the circle of my light, with her blunt-nosed scissors and
her scraps of paper.</p>

<p>Her long silence made me glance down at her as she was taping the two
ends of the paper together. At that point I thought it was an accident
that she had given a half twist to the paper strip before joining the
circle. I smiled to myself as she picked it up in her chubby fingers.</p>

<p>"A little child forms the enigma of the ages," I mused.</p>

<p>But instead of throwing the strip aside, or tearing it apart as any
other child would do, she carefully turned it over and around&mdash;studying
it from all sides.</p>

<p>Then she picked up one of her crayons and began tracing the line. She
did it as though she were substantiating a conclusion already reached!</p>

<p>It was a bitter confirmation for me. I had been refusing to face it
for a long time, but I could ignore it no longer.</p>

<p>Star was a High I.Q.</p>

<p>For half an hour I watched her while she sat on the floor, one knee
bent under her, her chin in her hand, unmoving. Her eyes were wide with
wonderment, looking into the potentialities of the phenomenon she had
found.</p>

<p>It has been a tough struggle, taking care of her since my wife's death.
Now this added problem. If only she could have been normally dull, like
other children!</p>

<hr class="tb" />

<p>I made up my mind while I watched her. If a child is afflicted, then
let's face it, she's afflicted. A parent must teach her to compensate.
At least she could be prepared for the bitterness I'd known. She could
learn early to take it in stride.</p>

<p>I could use the measurements available, get the degree of intelligence,
and in that way grasp the extent of my problem. A twenty point jump
in I.Q. creates an entirely different set of problems. The 140 child
lives in a world nothing at all like that of the 100 child, and a world
which the 120 child can but vaguely sense. The problems which vex and
challenge the 160 pass over the 140 as a bird flies over a field mouse.
I must not make the mistake of posing the problems of one if she is the
other. I must know. In the meantime, I must treat it casually.</p>

<p>"That's called the Moebius Strip, Star," I interrupted her thoughts.</p>

<hr class="chap" />

<div class="figcenter">
  <img src="../stories/img/Galaxy_195104.jpg" width="531" height="500" alt=""/>
</div>

<hr class="chap" />

<p>She came out of her reverie with a start. I didn't like the quick way
her eyes sought mine&mdash;almost furtively, as though she had been caught
doing something bad.</p>

<p>"Somebody already make it?" she disappointedly asked.</p>

<p>She knew what she had discovered! Something inside me spilled over with
grief, and something else caught at me with dread.</p>

<p>I kept my voice casual. "A man by the name of Moebius. A long time ago.
I'll tell you about him sometime when you're older."</p>

<p>"Now. While I'm little," she commanded with a frown. "And don't tell.
Read me."</p>

<p>What did she mean by that? Oh, she must be simply paraphrasing me at
those times in the past when I've wanted the facts and not garbled
generalizations. It could only be that!</p>

<p>"Okay, young lady." I lifted an eyebrow and glared at her in mock
ferociousness, which usually sent her into gales of laughter. "I'll
slow you down!"</p>

<p>She remained completely sober.</p>

<p>I turned to the subject in a physics book. It's not in simple language,
by any means, and I read it as rapidly as I could speak. My thought
was to make her admit she didn't understand it, so I could translate it
into basic language.</p>

<p>Her reaction?</p>

<p>"You read too slow. Daddy," she complained. She was childishly
irritable about it. "You say a word. Then I think a long time. Then you
say another word."</p>

<p>I knew what she meant. I remember, when I was a child, my thoughts used
to dart in and out among the slowly droning words of any adult. Whole
patterns of universes would appear and disappear in those brief moments.</p>

<p>"So?" I asked.</p>

<p>"So," she mocked me impishly. "You teach me to read. Then I can think
quick as I want."</p>

<p>"Quickly," I corrected in a weak voice. "The word is 'quickly,' an
adverb."</p>

<p>She looked at me impatiently, as if she saw through this allegedly
adult device to show up a younger's ignorance. I felt like the dope!</p>

<hr class="tb" />


<p class="ph4"><i>September 1st</i></p>

<p>A great deal has happened the past few months. I have tried, a number
of times to bring the conversation around to discuss Star's affliction
with her. But she is amazingly adroit at heading me off, as though she
already knows what I am trying to say and isn't concerned. Perhaps, in
spite of her brilliance, she's too young to realize the hostility of
the world toward intelligence.</p>

<p>Some of the visiting neighbors have been amused to see her sit on the
floor with an encyclopedia as big as she is, rapidly turning the pages.
Only Star and I know she is reading the pages as rapidly as she can
turn them. I've brushed away the neighbors' comments with: "She likes
to look at the pictures."</p>

<p>They talk to her in baby talk&mdash;and she answers in baby talk! How does
she know enough to do that?</p>

<p>I have spent the months making an exhaustive record of her I.Q.
measurements, aptitude speeds, reaction, tables, all the recommended
paraphernalia for measuring something we know nothing about.</p>

<p>The tables are screwy, or Star is beyond all measurement.</p>

<p>All right, Pete Holmes, how are you going to pose those problems and
combat them for her, when you have no conception of what they might
be? But I must have a conception. I've got to be able to comprehend at
least a little of what she may face. I simply couldn't stand by and do
nothing.</p>

<p>Easy, though. Nobody knows better than you the futility of trying to
compete out of your class. How many students, workers and employers
have tried to compete with you? You've watched them and pitied them,
comparing them to a donkey trying to run the Kentucky Derby.</p>

<p>How does it feel to be in the place of the donkey, for a change? You've
always blamed them for not realizing they shouldn't try to compete.</p>

<p>But this is my own daughter! I <i>must</i> understand.</p>

<hr class="tb" />

<p class="ph4"><i>October 1st</i></p>

<p>Star is now four years old, and according to State Law her mind has now
developed enough so that she may attend nursery school. Again I tried
to prepare her for what she might face. She listened through about
two sentences and changed the subject. I can't tell about Star. Does
she already know the answers? Or does she not even realize there is a
problem?</p>
