@import "setup/setup.less";
@import "assets/less/html2print.less";
@import "assets/less/layout.less";
@import "assets/less/debug.less";
@import "assets/less/ui.less";
@import "setup/typography.less";
@import "setup/local-styles.less";
@import "setup/online-styles.css";
@import "setup/color-separation.less";

.body {
  height: @page-height - (@header-height + @footer-height);
  width: @page-width;
  // margin-bottom: 15mm;
  // padding-top: 20mm;
  // padding-bottom: 15mm;
  position: absolute;
}
